<% include header.ejs %>

<div class="breadcrumbs">
        <a href="/">Home</a> > <%= title %>
    </div>
    
<h1><%= title %></h1>

<table class="api">
    <% for(var i=0; i<logs.length; i++) { %>
        <tr class="api">
            <td class="api"> <%= logs[i]['timestamp'] %> </td>
            <td class="api"> <%= logs[i]['message'] %> </td>
        </tr>
    <% } %>
</table>

<% include footer.ejs %>