<script type="text/javascript">

function getUserDataFromForm() {
    var user_json = {   
        'userName': $('#form-user-name').val(),
        'active': $('#checkbox-user-active').is(':checked') ? 1 : 0,
        'group': $('.dropdown .btn').text()
    };
    console.log('user_form.ejs > getUserDataFromForm > user_json: '+user_json);
    return user_json;
}

function resetUserForm() {
    $('#form-user-name').val('');
    $(".dropdown .btn").html('Group' + '  <span class="caret"></span>');
}

function fillUserForm(user_json) {
    $('#form-user-name').val(user_json.username);
    if(user_json.active) {
        $('#checkbox-user-active').prop('checked', true);    
    }
    $(".dropdown .btn").html(user_json.group + '  <span class="caret"></span>')
}

$(document).ready(function() {
    // code to change the dropdown menu on click
    $(".dropdown-menu li a").click(function(e){
      $(".btn:first-child").html($(this).text() + '  <span class="caret"></span>');
      $(".btn:first-child").val($(this).text());
      $("#dropDown").dropdown("toggle");
   });
});

</script>

<form role="form">
    <div class="form-group">
        <label for="form-user-name">Name:</label>
        <input type="text" class="form-control" id="form-user-name" placeholder="Name">

        <br>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Group
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Maker 1</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Maker 2</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Maker 3</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Staff</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Admin</a></li>
            </ul>
        </div>

        <label class="checkbox" for="checkbox-user-active">
            <input type="checkbox" value="" id="checkbox-user-active" data-toggle="checkbox">
            Active
        </label>
    </div>
    <button type="submit" class="btn btn-primary" id="form-user-submit" click="return false">Submit</button>
</form>