<% include main_header %>
<% include machinespanel_header %>

<script src="<%= resources_url %>/js/machineslist.js"></script>
<script type="text/javascript">
</script>

<!--------------------------------------------------- /.container -->

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="alerttt-placeholder"></div>
    <h1 class="page-header">Machines list</h1>
    <table class="table table-hover" id="machinesList">
        <thead>
            <tr>
                <th>#</th>
                <th>Ip</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div> <!-- class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" -->

<!--------------------------------------------------- /.container -->

<% include footer %>
