
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li id="nav-sidebar-machineslist">
                <a href="<%= resources_url %>/users">Machines Lists</a>
            </li>
        </ul>
    </div>
