
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li id="nav-sidebar-userlist">
                <a href="<%= resources_url %>/users">User Lists</a>
            </li>
            <li id="nav-sidebar-adduser">
                <a href="<%= resources_url %>/users/add">Add user</a>
            </li>
            <li class="disabled" id="nav-sidebar-singleuser">
                <a class="disabled" href="">Single user</a>
            </li>
        </ul>
    </div>
