<% include header.ejs %>

<div id="container">
    <h4>Page lists:</h1>
    <ul>
        <li class="internal"><a href="/api">Internal centralina API list</a></li>
        <hr>
        <li><a href="/users">User list</a></li>
        <li class="notsync"><a href="/users/add">Add user</a></li>
        <li><a href="/users/search-by-tag">Search user by tag</a></li>
        <li><a href="/groups">Groups list</a></li>
        <hr>
        <li><a href="/reservations">Asset reservation list</a></li>
        <li class="notsync"><a href="/reservations/add">Add asset reservation</a></li>
        <hr>
        <li><a href="/calendar">Gateway calendar list</a></li>
        <hr>
        <li><a href="/machines">Machines status</a></li>
        <hr>
        <li><a href="/log/error">Error logs</a></li>
        <li><a href="/log/db">Database logs</a></li>
        <li><a href="/log/network">Network logs</a></li>
        <li><a href="/log/login">Login logs</a></li>
    </ul>
</div> <!-- id="container" -->

<% include footer.ejs %>
