<% include header.ejs %>

<div id="container">
    <h4>Page lists:</h1>
    <ul>
        <li><a href="/api">Api list</a></li>
        <hr>
        <li><a href="/users">User list</a></li>
        <li><a href="/users/add">Add user</a></li>
        <hr>
        <li><a href="/users/search-by-tag">Search user by tag</a></li>
        <hr>
        <li><a href="/machines">Machines status</a></li>
        <hr>
        <li><a href="/log/error">Error logs</a></li>
        <li><a href="/log/db">Database logs</a></li>
        <li><a href="/log/network">Network logs</a></li>
    </ul>
</div> <!-- id="container" -->

<% include footer.ejs %>
