<% include header.ejs %>

<script type="text/javascript">
    var DATA_URL = '<%= api_url %>';
    var VIEW_URL = '<%= resources_url %>';
    $.ajaxSetup({ cache: false });
</script>

<script type="text/javascript">

function onClickSearch(e) {
    var tag_value = $('#form-tag-value').val();
    if(!tag_value) {
        $('.control-group').addClass('has-error');
        $('#form-tag-value').focus();
        return;
    } else {
        $('.control-group').removeClass('has-error');
    }

    var users_path = '/api/search-by-tag/'+tag_value;
    var users_list = new UsersList(users_path);

    return false;
}

$(document).ready(function() {
    $('#form-user-search').click(onClickSearch);
});

</script>

<div class="container">

    <div id="alerttt-placeholder"></div>

    <div class="breadcrumbs">
        <a href="/">Home</a> > Search user by tag
    </div>
    <h1>Search user by tag</h1>
    <div class="control-group">

        <% include askTagToServer.ejs %>

        <form role="form">  
            <button type="submit" class="btn btn-primary" id="form-user-search" click="return false">Search</button>
        </form>
    </div>

    <% include users_list.ejs %>


</div>
<% include footer.ejs %>