<script type="text/javascript">

function UsersList(path) {
    this.path = path;
    this.loadAjax();
}

UsersList.prototype.loadAjax = function() {
    var that = this;
    $.getJSON(this.path, function(users) {
        $('#userList > tbody').empty();
        that.fillUsers(users);
    });
};

UsersList.prototype.fillUsers = function(users) {

    function _partial_getUserControl() {
        var s = '<a class="user_control delete"'+
                '   data-toggle="modal" '+
                '   data-target="#confirm-delete">'+
                '       <span class="glyphicon glyphicon-trash"></span>'+
                '</a>';
        return s;
    }

    function _partial_fillUserTr(user, controlOption) {
        var s = '<tr class="'+(user.active?'':'inactive')+'">'+ 
                '    <th class="id">'+user.user_id+'</th>'+
                '    <th class="name">'+
                '        <a class="user_control modify"'+
                '           href="/users/'+user.user_id+'">'+user.username+'</a>'+
                '    </th>'+
                '    <th class="group">'+user.group+'</th>'+
                '    <th class="status">'+user.status+'</th>'+
                '    <th class="credits">'+user.credits+'</th>'+
                '    <th class="user_active">'+user.active+'</th>'+
                '    <th>'+controlOption+'</th>'+
                '</tr>';
        return s;
    }    

    var that = this;
    users.forEach(function(user){
        var c = _partial_getUserControl()
          , tr = _partial_fillUserTr(user, c);
        $('#userList > tbody:last').append(tr);

        var current = $('#userList > tbody > tr').last();
        that.addControlToUsersTable(current, user);
    });
};

UsersList.prototype.addControlToUsersTable = function(current_tr, user) {
    var that = this;
    
    current_tr.find('.user_control.delete')
    .css('cursor', 'pointer')
    .click(function(e) {
        e.preventDefault();

        that.clickOnControlDelete(user);
    });
};

UsersList.prototype.clickOnControlDelete = function(user) {
    var that = this;

    $('#confirm-delete').on('show.bs.modal', function(e) {
        $('.user-to-delete').html(
            'Delete user: #<strong>' + 
            user.user_id + ' ' + 
            user.username +
            '</strong>'
        );

        var btnDelete = $('#confirm-delete').find('.btn.danger');
        btnDelete.unbind("click");
        btnDelete.click(function(e) {
            e.preventDefault();
            $('#confirm-delete').modal('hide');
            that.deleteUserAjax(user);
            return false;
        });

    });
};

UsersList.prototype.deleteUserAjax = function(user) {
    $.ajax({
        type: 'DELETE',
        url: DATA_URL+'/users/' + user.user_id,
        success: this.deleteUserSuccess(user.user_id, user.username),
    }).done(function( response ) {
    });
}

UsersList.prototype.deleteUserSuccess = function(userId, userName) {
    var that = this;
    var id = 'alert-delete-user-success'+Math.floor((Math.random() * 100) + 1);

    $('#alerttt-placeholder').append(
        '<div id="'+id+'" '+
        '     class="alert alert-success" '+
        '     data-alert="alert" style="display:none;"> User #'+userId+' '+userName+' correctly deleted</div>');
    $('#'+id).slideDown().fadeIn();

    // deve essere dentro un timer altrimenti non è aggiornato perchè l'animazione non è finita
    setTimeout(function() {
        that.loadAjax();
        delete that;
    }, 500);

    setTimeout(function() {
        $('#'+id).fadeTo('slow', 0.00, function(){ //fade
             $(this).slideUp('slow', function() { //slide up
                 $(this).remove(); //then remove from the DOM
             });
         });
    }, 3000);
}

</script>

<!-----------------------------------------------------------------------------  HTML -->
<div class="modal fade" 
    id="confirm-delete" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="myModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-hidden="true">&times;</button>
                    <h4 class="modal-title" 
                        id="myModalLabel">Confirm Delete</h4>
            </div>

            <div class="modal-body">
                <p>You are about to delete the user, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
                <p class="user-to-delete"></p>
            </div>

            <div class="modal-footer">
                <button type="button" 
                    class="btn btn-default" 
                    data-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-danger danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<h1 class="page-header">Users list</h1>
<table class="table table-hover" id="userList">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Group</th>
            <th>Status</th>
            <th>Credits</th>
            <th>Active</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>