<script type="text/javascript">

var _groups = null;

function _retriveGroupId() {
    var group_description = $('#dropdown-group .btn').text();
    for(g in _groups) {
        if(_groups[g].description===group_description)
            return g;
    }
    return -1;
}

function getUserDataFromForm() {
    var user_json = {   
        'userName': $('#form-user-name').val(),
        'active': $('#checkbox-user-active').is(':checked') ? 1 : 0,
        'group': _retriveGroupId(),
        'status': parseInt($('#form-status').val()),
        'credits': parseInt($('#form-credits').val()),
    };
    console.log('user_form.ejs > getUserDataFromForm > user_json: '+user_json);
    return user_json;
}

function resetUserForm() {
    $('#form-user-name').val('');
    $(".dropdown .btn").html('Group' + '<span class="caret"></span>');
}

function fillUserForm(user_json) {

    var path = DATA_URL+'/groups';
    $.getJSON(path, function(groups) {
        var g = groups[user_json.group].description
        $(".dropdown .btn").html(g + '<span class="caret"></span>')
    });

    $('#form-user-name').val(user_json.username);
    if(user_json.active) {
        $('#checkbox-user-active').prop('checked', true);    
    }
    $("#form-status").val(user_json.status);
    $("#form-credits").val(user_json.credits);
}

$(document).ready(function() {
    // code to change the dropdown menu on click

    var groupPath = DATA_URL+'/groups';
    $.getJSON(groupPath, function(groups) {
        _groups = groups;
        groups.forEach(function(group) {
            var h = '<li role="presentation">'+
                    '<a role="menuitem" tabindex="-1" href="#">'+group.description
                    '</a></li>';
            var r = $('#dropdown_ul').append(h);
            var l = r.children().last();
            console.log(l);

            $(l).bind('click',function(e){
                $("#dropdownMenu1:first-child")
                    .html($(this).text() + '<span class="caret"></span>');
                $("#dropdownMenu1:first-child").val($(this).text());
                $("#dropDown").dropdown("toggle");
            });
        });
    });
});

</script>

<form role="form">
    <div class="form-group">
        <div>
            <label for="form-user-name">Name:</label>
            <input type="username" class="form-control" id="form-user-name" placeholder="Name">
        </div>

        <br>
        <div class="dropdown" id="dropdown-group">
            <label for="dropdownMenu1">Group:</label><br/>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Group
              <span class="caret"></span>
            </button>
            <ul id="dropdown_ul" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            </ul>
        </div>

        <div>
            <label class="checkbox" for="checkbox-user-active">
                <input type="checkbox" value="" id="checkbox-user-active" data-toggle="checkbox">
                Active
            </label>
        </div>

        <div class="form-status-class">
            <label for="form-status">Status:</label>
            <input type="text" class="form-control" id="form-status" placeholder="Status number">
        </div><br/>

        <div class="form-credits-class">
            <label for="form-credits">Credits:</label>
            <input type="text" class="form-control" id="form-credits" placeholder="Credits number">
        </div>

    </div>
    <button type="submit" class="btn btn-primary" id="form-user-submit" click="return false">Submit</button>
</form>