<% include main_header %>
<% include userpanel_header %>

<script src="<%= resources_url %>/js/user.js"></script>
<!--------------------------------------------------- page script -->
<script type="text/javascript">

    // variables from the server
    var userId = <%= id %>;
    // TODO -> see if userId contains character or only digits

</script>

<!--------------------------------------------------- /.container -->

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div id="alerttt-placeholder"></div>
    <div id="user_container">
        <h1 class="page-header" id="page-header-title">User </h1>

        <h3 class="page-header">Tag</h3>
        <h4>Tag list</h4>
        <table class="table table-hover" id="tagList">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h4>Add tag</h4>
        <div class="form-group">
            <button type="submit" class="btn btn-default" id="tagOnReader">Check tag on reader</button>
            <br/><br/>
            <form class="form-inline" role="form">
              <div class="form-group">
                <label class="sr-only" for="tagType">Type</label>
                <input type="text" class="form-control" id="tagType" placeholder="MiFare Classic">
              </div>
              <div class="form-group">
                <label class="sr-only" for="tagValue">Value</label>
                <input type="text" class="form-control" id="tagValue" placeholder="qwerty">
              </div>
              <button type="submit" class="btn btn-default" id="form-add-tag-submit">Add tag</button>
            </form>
        </div>

        <br/><br/>
        <h3 class="page-header">User data</h3>

        <% include user_form %>

    </div>
</div> <!-- class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" -->
<!--------------------------------------------------- /.container -->

<% include footer %>